.banner {
  background-image: url(../../assets/images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.banner img {
  width: 100%;
  height: 100%;
}
